
<nav class="bg-cyan-950 shadow-lg">
    <div class="container mx-auto flex justify-between items-center p-4">

            <a href="/" class="text-white text-2xl font-bold tracking-wider">My Blog</a>

        <div class="flex items-center space-x-4">
            {% if user.is_authenticated %}
                <span class="text-gray-300 text-sm hidden sm:inline">Hi, {{ user.username }}!</span>
                <a href="/post/create/" class="bg-green-600 hover:bg-green-700 text-white font-bold px-3 py-1.5 rounded text-sm transition shadow-sm">
                    + Create Post
                </a>
                <form action="{% url 'logout' %}" method="POST" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold px-4 py-1.5 rounded text-sm transition">
                        Logout
                    </button>
                </form>
            {% else %}
                <a href="/login/" class="bg-green-600 hover:bg-green-700 text-white px-4 py-1.5 rounded font-sm transition">
                    Login
                </a>
                <a href="/signup/" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1.5 rounded font-sm transition">
                    Signup
                </a>
            {% endif %}
        </div>
    </div>
</nav>