
{% extends "base.html" %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white p-8 shadow rounded-lg">
   <h1 class="text-4xl font-bold mb-4">{{ post.title }}</h1>
   <div class="flex items-center text-gray-500 text-sm mb-6 border-b pb-4">
      <span>By <strong>{{ post.author }}</strong></span>
      <span class="mx-2">|</span>
      <span>{{ post.created_at|date:"F d, Y, g:i A" }}</span>
      <span class="mx-2">|<span>
      <a href="?category={{ post.category.slug }}" class="text-blue-600 font-medium hover:underline">
         {{ post.category.name }}
      </a>
   </div>
   
   <div class="prose max-w-none text-gray-800 leading-loose">
      {{ post.content|linebreaks }}
   </div>

   <hr class="my-4">

   <div class="flex items-center mt-4">
      <form method="POST" action="{% url 'toggle_like' post.slug %}">
         {% csrf_token %}
         {% if user.is_authenticated %}
            {% if post.likes.all %}
               {% if user in post.likes.all %} <button type="submit"class="text-red-500 font-bold">🩶 Unlike </button>           
               {% else %}
                  <button type="submit" class="text-gray-500 font-bold">❤️ Like </button>
               {% endif %}
            {% else %}
                <button type="submit" class="text-gray-500 font-bold">❤️ Like </button>
            {% endif %}
         {% else %}
            <p class="texts-sm text-gray-400">Login to like this post.</p>
         {% endif %}
      </form>

      <p class="ml-4 text-gray-600">
         {{ post.likes.count }} Like {{ post.likes.count|pluralize }}
      </p>
   </div>

   {% if user == post.author %}
   <div class="mt-4 space-x-10 underline">
         <a href="{% url 'post_update' post.slug %}" class="text-blue-600">Edit Post</a>
         <a href="{% url 'post_delete' post.slug %}" class="text-red-600">Delete Post</a>
   </div>
   {% endif %}

   <div class="mt-8">
      <a href="/" class="text-blue-500 hover:underline">← Back to Home</a>
   </div>
   
   <hr class="my-6">

 
   {% for comment in post.comments.all %}
   <div class="border-b border-gray-200 py-4 flex justify-between items-start">
      <div>
         <p class="text-sm text-gray-500 mb-1">
            <span class="font-bold text-gray-500">{{ comment.author.username }}</span>
               {{ comment.created_at|timesince }} ago
         </p>
         <p class="text-gray-700">{{ comment.content }}</p>
      </div>

      {% if user == comment.author %}
      <form method="POST" action="{% url 'delete_comment' comment.id %}">
         {% csrf_token %}
         <button type="submit" class="text-red-500 hover:text-red-700 text-sm font-medium transition">
            Delete
         </button>
      </form>
      {% endif %}
   </div>
   {% empty %}
   <p class="text-gray-400 italic">No comments yet. Be the first to comment!</p>
   {% endfor %}

   <div class="mt-8">
      {% if user.is_authenticated %}
      <h4 class="font-semibold mb-2">Leave a Reply</h4>
      <form method="POST" action="{% url 'add_comment' post.slug %}" class="space-y-3">
         {% csrf_token %}

         <div class="comment-input-wrapper">
            {{ form.as_p }}
         </div>

         <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold px-6 py-2 rounded-lg shadow transition">
            Post Comment 
         </button>
      </form>
      {% else %}
      <div class="bg-blue-50 p-4 rounded text-center">
         <p class="text-gray-700">You must <a href="{% url 'login' %}" class="text-blue-600 font-bold hover:underline">login</a> to join the conversation.</p>
      </div>
      {% endif %}
   </div>


 

</div>
{% endblock %}